*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
}
h3{
  margin-left:-60px;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: url("https://previews.123rf.com/images/valru/valru1011/valru101100013/8144799-musical-background-notes-Stock-Photo-music.jpg");
    background-size: cover;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-family:helvetica;
}
.left-margin{
  margin-left: 680px;
}
.input-wrapper{
  margin-left:60px;
 }
 .added-width{
   height:28px;
   width: 220px !important;
 }
 .width-added{
   height:28px;
   width:60px;
 }

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: url("https://images-na.ssl-images-amazon.com/images/I/11NFhhNHPvL._SX355_.jpg");
}

.main header {
    height: 80px;
    background: url("https://i.pinimg.com/236x/b5/2b/bf/b52bbf17929c8da830fed3f2705d123c--dark-blue-color-blue-colors.jpg");
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background: url("https://images-na.ssl-images-amazon.com/images/I/11NFhhNHPvL._SX355_.jpg");


}

.main footer {
    min-height: 80px;
    background: url("https://i.pinimg.com/236x/b5/2b/bf/b52bbf17929c8da830fed3f2705d123c--dark-blue-color-blue-colors.jpg");
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    font-family: helvetica;
    float: right;
    font-size: 30px;
}


.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}
.song-name{
  text-align: left;
}
.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background: url("https://i.pinimg.com/236x/b5/2b/bf/b52bbf17929c8da830fed3f2705d123c--dark-blue-color-blue-colors.jpg");
}


.song-length {
    text-align: right;
}
.content{
  position: relative;
}
.current-song-wrapper{
  position: absolute;
  bottom 0;
  display: flex;
}
.current-song-image{
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}
.current-song-name{
  font-size: 1.4rem;
  margin-top: 250px;
  margin-bottom: 0;
  margin-left: 80px;
}
.current-song-album{
  margin-top: 0.4rem;
  margin-left: 90px;
}
.fa{
  margin-left: 10px;
  margin-right: 10px;
}
.addsong{
  margin-bottom: 13px;
  margin-top: 5px;
  width:150px;

}
.addsongs-css{
  margin-left: 15px;
  margin-bottom: 20px;
}
h2{
  margin-left: 15px;
}
